@use 'base';

// Particles CSS
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

// Main container styles
.create_main {
    font-family: 'Playfair Display', serif;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
    box-shadow: inset 1px 1px 3px #ffffff, inset -1px -1px 3px #a0a0a0,
        2px 2px 6px rgba(0, 0, 0, 0.2);

    border: 1px solid rgba(0, 0, 0, 0.1);

    border-radius: 2rem;

    padding: 20px;
    width: 600px;

    margin: 0 auto;
    margin-top: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .create_title {
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .create_container {
        .create_form {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 0 auto;

            .create_label {
                margin-top: 10px;
                margin-bottom: 5px;
                font-weight: bold;
            }

            .create_input,
            .create_select,
            .create_textarea {
                padding: 8px;
                margin-bottom: 10px;

                border-radius: 4px;
                box-sizing: border-box;

                width: calc(100%);
                padding: 8px;
                border: 1px solid #060000;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.217);
            }

            .create_button {
                padding: 10px;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: #0056b3;
                }
            }

            .create_subtitle {
                font-family: 'Playfair Display', serif;
                font-size: 1.5rem;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }
}
