@use 'base';

// Particles CSS
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2; /* Ensure particles are in the background */
}

// Main container styles
.create_main {
    font-family: 'Playfair Display', serif;
    position: relative;
    z-index: 1; /* Ensure content is above particles */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .create_title {
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .create_container {
        .create_form {
            display: flex;
            flex-direction: column;
            width: 300px; /* Adjust the width as needed */
            margin: 0 auto; /* Center the form on the page */

            .create_label {
                margin-top: 10px;
                margin-bottom: 5px;
                font-weight: bold;
            }

            .create_input,
            .create_select,
            .create_textarea {
                padding: 8px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            .create_button {
                padding: 10px;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: #0056b3;
                }
            }

            .create_subtitle {
                font-family: 'Playfair Display', serif;
                font-size: 1.5rem;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }
}
