#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.dashboard_main {
    font-family: 'Playfair Display', serif;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.dashboard-buttons-container {
    margin-top: 2rem;
    display: flex;
}

.add-job-button,
.clearall-job-button,
.populate-job-button {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #000035;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;

    &:hover {
        background-color: #388e3c;
    }
}
.clearall-job-button {
    background-color: orange;
    color: black;

    &:hover {
        background-color: #ff6347;
    }
}

.controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .filter {
        background-color: #4caf50;
        border: none;
        color: #fff;
        cursor: pointer;
        margin: 0 10px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1em;
        transition: background-color 0.3s;

        &:hover {
            background-color: #388e3c;
        }

        &.active {
            background-color: #ff6347;
        }
    }

    .filter-select {
        margin: 0 10px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1em;
    }
}
.job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 20px auto;
    width: 100%;
    max-width: 1400px;
    padding: 2rem;

    //background: linear-gradient(145deg, #e0e0e0, #b0b0b0);
    //background: url('../assets/rustic-wooden-background.jpg');
    background: url('/assets/rustic-wooden-background.jpg') no-repeat center
        center;
    background-size: cover; /* This will ensure the image covers the entire area */

    box-shadow: inset 1px 1px 3px #ffffff, inset -1px -1px 3px #a0a0a0,
        2px 2px 6px rgba(0, 0, 0, 0.2);

    border-radius: 10px;
}

.job-card {
    position: relative;
    background-color: #ffe4e4;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;

    width: 300px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    //transition: transform 0.4s ease, box-shadow 0.4s ease; // Updated duration and easing

    &:hover {
        //transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .job-card-content {
        padding: 10px;
        padding-bottom: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .job-status {
            font-family: 'Playfair Display', serif;
            position: absolute;
            right: 0;
            top: -5px;

            font-size: 1rem;
            font-weight: 900;
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 5px;
            text-align: center;
        }

        .status-negative {
            background-color: red;
        }

        .status-interested {
            background-color: yellow;
        }

        .status-cv-sent {
            background-color: blue;
        }

        .status-interview {
            background-color: green;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #333;
        }
        h3 {
            font-family: 'Playfair Display', serif;
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 3rem;
            color: #630000;
        }
    }

    .see-more {
        align-self: flex-end;
        margin-top: 10px;

        padding: 2px 5px;
        background-color: #000000;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 0.9em;
        transition: background-color 0.3s;

        &:hover {
            background-color: #388e3c;
        }
    }
}
