<nav>
    <div class="logo">LOGO</div>
    <div class="dropdown">
        <div class="menusymbol">
            <span>userName</span>
            <button id="dropbtn">
                <img src="../assets/menuCircle.svg" alt="circlesvg" />
            </button>
        </div>

        <div class="dropdown-content" id="myDropdown">
            <a href="../pages/dashboard.html">DashBoard</a>
            <a href="../pages/profile.html">My Profil</a>
            <a href="../pages/create-update-job.html">Add job</a>
        </div>
        <button class="login-button">
            <a href="../pages/login.html">Login</a>
        </button>
    </div>
</nav>
